@model IEnumerable<ClinicManagement.Core.Models.Appointment>
@{
    ViewBag.Title = "Home Page";
}

<div class="row top_tiles">
    <div class="">
        <div class="row">
        <h1 class="welcome-msg">Welcome to Stone Clinic</h1> <br>
        <h2 class="welcome-h2">World-class biologic & robotic surgery, regenerative injection therapy, & elite sports medicine</h2> 
        </div>
    </div>
   
    
</div>
